* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  gap: 10px;
}

/* This is the Header of the page */

.header {
  width: 100%;
  height: 40px;
  background-color: #000000dd;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 50;
}

.header__navbar {
  margin-left: 450px; /* TODO: make this flexible not absolute */
  margin-right: 450px;
  padding: 10px;
}

.header__navbar ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  padding: 0px;
  margin: 0px;
  align-items: center;
}

.header__navbar a {
  text-decoration: none;
  color: #d6d6d6;
  font-size: 12px;
  font-weight: 100;
  transition: 400ms;
}

.header__navbar a:hover {
  filter: brightness(1.3);
}

.header__navbar span {
  font-size: 20px;
  font-weight: 100;
}

.header__navbar img {
  width: 14px;
}

/* This is the Main body of the page */

.main {
  width: 100%;
  /* height: 100%; */
  height: auto; /* height of the main content; TODO:change it to something flexible */
  margin-top: 40px;
}

/* .main__best-products {
  display: grid;
  gap: 10px;
} */

.donation-banner {
  background-color: #f5f5f7;
  display: grid;
  grid-auto-flow: column;
  padding: 10px;
  gap: 10px;
  place-content: center;
  align-items: center;
}

.unicef-logo {
  width: 120px;
  height: 50px;
  object-fit: cover;
}

.main__best-products a {
  text-decoration: none;
}

.donation-banner a {
  text-decoration: none;
  color: #06c;
  font-size: 15px;
  font-weight: 100;
}

.donation-banner a:hover {
  text-decoration: underline;
}

.iphone13-banner {
  background-image: url(./assets/images/iphone13-wrapper.jpg);
  background-size: 1350px;
  background-position: center bottom;
  background-repeat: no-repeat;
  height: 700px;
  background-color: #fbfbfd;
  position: relative;

  gap: 10px;
  display: grid;
  align-content: start;
  justify-content: center;
}

a.fill-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.promo-banner h2 {
  margin-top: 50px;
  font-size: 50px;
  font-weight: 700;
  color: initial;
}

.promo-banner h3 {
  font-size: 25px;
  font-weight: 200;
  color: initial;
  text-align: center;
}

.promo-banner ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 10px;
}

.banner__nav-item {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  color: #06c;
  font-size: 20px;
  font-weight: 500;
}

.banner__nav-item a {
  text-decoration: none;
  color: #06c;
  z-index: 10;
}

.banner__nav-item a:hover {
  text-decoration: underline;
}

.iphonese-banner {
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url(./assets/images/iphone-se-wrapper.jpg);
  background-size: 1400px;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  background-color: #fbfbfd;
  position: relative;

  gap: 10px;
  display: grid;
  place-items: center;
  align-content: start;
  justify-content: center;
}

.iphonese-banner .iphone-se-h2 {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  margin-top: 0px;
}

.new-product-tag {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 550;
}

.apple-tv-banner {
  height: 97vh;
  width: 99.1vw;
  position: relative;
}

.apple-tv-banner video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  object-position: bottom;
  z-index: 0;

  position: relative;
}

.apple-tv-promo__captions {
  display: grid;
  place-items: center;
  vertical-align: bottom;
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 50px;
  text-align: center;
  padding: 10px;
  gap: 10px;
}

.apple-tv-promo__captions__apple-logo {
  font-size: 50px;
  font-weight: 100;
  color: white;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 5px;
}

.apple-tv-promo__captions__apple-logo img {
  width: 30px;
  filter: brightness(2);
}

.apple-tv-promo__captions h2 {
  font-size: 70px;
  font-weight: 700;
  color: white;
}

.apple-tv-promo__captions h3 {
  font-size: 25px;
  font-weight: 600;
  color: white;
}

.apple-tv-promo__captions button {
  margin-top: 20px;
  background-color: white;
  color: initial;
  font-size: 17px;
  font-weight: 700;
  border: none;
  padding: 8px 20px;
  border-radius: 50px;
  cursor: pointer;
  display: grid;
  gap: 5px;
  grid-auto-flow: column;
  align-items: center;
}

.apple-tv-promo__captions button:hover {
  opacity: 80%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
}

.main__promos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 580px;
  gap: 10px;
  padding: 10px;
}

.promos-grid__item {
  display: grid;
  justify-content: center;
  align-content: start;
  padding: 10px;
  text-align: center;
  gap: 10px;
  position: relative;
}

.promos-grid__item.down {
  align-content: end;
  padding-bottom: 50px;
}

.promos-grid__item__title {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  align-content: center;
  gap: 8px;
  font-size: 35px;
  font-weight: 700;
  color: #c6e1e6;
}

.promos-grid__item__text {
  color: #c6e1e6;
}

.promos-grid__item a {
  text-decoration: none;
  color: #06c;
}

.promos-grid__item a:hover {
  text-decoration: underline;
}

.promos-grid__item__title img {
  width: 30px;
  filter: brightness(1.25);
}

.promos-grid__item__video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.promos-grid__subtitle {
  color: #bf4800;
}

.promos-grid__item__link {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  align-items: center;
}

.promos-grid__item.apple-trade-in {
  background: url(./assets/images/apple-trade-in.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.promos-grid__subtitle {
  margin-top: 50px;
}

.promos-grid__item__title-dark {
  font-size: 40px;
}

.promos-grid__item__text-dark {
  font-size: 20px;
}

.promos-grid__item.iphone-13 {
  background: url(./assets/images/iphone-13.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.promos-grid__item.apple-watch h4 {
  margin-top: 0px;
}

.promos-grid__item.apple-watch {
  background: url(./assets/images/watch-series7.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.promos-grid__item.apple-card {
  background: url(./assets/images/apple-card.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.promos-grid__item.security {
  background: url(./assets/images/privacy.jpg) no-repeat;
  background-size: cover;
  background-position: right;
}

.promos-grid__item.right {
  justify-content: end;
  padding-top: 100px;
  padding-right: 200px;
}

.promos-grid__item__title-apple-card {
  margin-top: 40px;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  justify-content: center;
  gap: 8px;
  font-size: 35px;
  font-weight: 700;
}

.links-container {
  display: grid;
  grid-auto-flow: column;
}

.promos-grid__item__title-apple-card img {
  width: 30px;
}

/* This is the Footer of the page */

.footer {
  width: 100%;
  height: auto;
  background-color: #f5f5f7;
}

.footer__container {
  margin-left: 20vw;
  margin-right: 20vw;
  border-bottom: 2px solid #e6e6e6;
  margin-bottom: 30px;
}

.footer__notes {
  display: grid;
  align-items: center;
  padding: 15px;
  gap: 10px;
  border-bottom: 1px solid #d2d2d7;
}

.footer__notes p {
  font-size: 12px;
  font-weight: 100;
  color: #6e6e73;
}

.footer__notes a {
  text-decoration: none;
  color: #1d1d1f;
}

.footer__notes a:hover {
  text-decoration: underline;
}

.footer__navigation {
  padding: 15px;
  display: grid;
  justify-content: start;
  margin-bottom: 10px;
}

.footer-navbar {
  margin: 0px;
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  gap: 100px;
}

.footer-navbar h4 {
  font-size: 12px;
  font-weight: 700;
  color: #1d1d1f;
  margin-bottom: 10px;
}

.footer-navbar ul {
  list-style: none;
}

.footer-navbar a {
  text-decoration: none;
  color: #424245;
  font-size: 12px;
}

.footer-navbar a:hover {
  text-decoration: underline;
}

.multiple-sections {
  display: grid;
  gap: 20px;
}

.footer-navbar__item {
  display: grid;
  gap: 10px;
}
